<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <title>Recipes</title>
    <meta
      content="Recipes"
      property="og:title"
    />
    <meta
      content="Assorted recipes, adapted from various sources"
      name="description"
    />
    <meta
      content="Assorted recipes, adapted from various sources"
      property="og:description"
    />
    <!-- <meta content="https://minwiz.com/og.png" property="og:image" /> -->

    <link rel="stylesheet" href="style.css" />
    <!-- <link rel="canonical" href="https://manusdextra.com/" /> -->
  </head>
  <body>
    <header>
      <!-- <a href="#h">MinWiz</a></h2> -->
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="/recipes">Recipes</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <hr />
    </header>
    <main>
      <article>
        <!-- lowdown output goes here -->
