:root {
  --bg: #282828;
  --fg: #ebdbb2;
  --darkred: #cc241d;
  --lightred: #fb4934;
  --darkgreen: #98971a;
  --lightgreen: #b8bb26;
  --darkyellow: #d79921;
  --lightyellow: #fabd2f;
  --darkblue: #458588;
  --lightblue: #83a598;
  --darkmagenta: #b16286;
  --lightmagenta: #d3869b;
  --darkcyan: #689d6a;
  --lightcyan: #8ec07c;
  --lightgrey: #a89984;
  --white: #ebdbb2;
}

@media (prefers-color-scheme: light) {
  :root {
    /* TODO: flip colors */
  }
}

* {
  background-color: var(--bg);
  color: var(--fg);
}

html {
  font: 1.2em monospace;
}

@media (min-width: 500px) { 
  body {
    width: 45em;
    margin: 0 auto 0 auto;
  }
}
  

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
}
h1 { font-size: 2em }

nav,
footer,
main {
  padding: 1em;
}

nav > ul {
  display: flex;
  flex: row wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

@media (max-width: 500px) {
  nav { padding: 0}
  nav > ul {
    flex-flow: column;
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: var(--lightyellow);
}
a:hover { color: var(--darkyellow); }
a:visited { color: var(--darkmagenta); }
